@charset "UTF-8";
body {
  background: #111010;
  font-family: "Arimo", sans-serif;
  font-family: "Kaisei Tokumin", serif;
}

.filas {
  display: grid;
  grid-template-columns: 100%;
}

.barra {
  display: flex;
  justify-content: space-between;
  background: rgb(250, 0, 255);
  background: linear-gradient(69deg, rgb(250, 0, 255) 0%, rgb(228, 0, 200) 15%, rgb(213, 0, 161) 30%, rgb(179, 0, 115) 50%, rgb(210, 30, 114) 70%, rgb(252, 69, 113) 85%, rgb(254, 118, 151) 100%);
  padding: 5px;
  margin: 0;
  border-radius: 50px;
}

.barra div {
  display: flex;
  align-items: center;
  padding: 7px;
  margin: 4px;
  justify-content: center;
}
.barra div .input {
  background: rgba(17, 16, 16, 0.5058823529);
  border: 1px solid #111010;
  border-radius: 6%;
  width: 150px;
  height: 25px;
  margin-right: 5px;
  padding: 5px;
}
.barra div .boton2 {
  background: rgba(255, 255, 255, 0.4117647059);
  border: 1px none white;
  border-radius: 100%;
  padding: 5px;
}
.barra div .boton1 {
  border: 0px solid white;
  background: none;
  border-radius: 10px;
}
.barra div .logo {
  background: rgba(255, 255, 255, 0.4117647059);
  border: 1px none none;
  border-radius: 10px;
  padding: 17px;
}
.barra div .boton1:hover {
  background-color: #111010;
}
.barra div .boton2:hover {
  background-color: #111010;
}
.barra div .logo:hover {
  background-color: #111010;
}
.barra div .iconos {
  display: flex;
  margin: 6px;
  padding: 10px;
}

.izquierda {
  height: 30vh;
  display: flex;
  flex-direction: row;
  background: rgb(250, 0, 255);
  background: linear-gradient(69deg, rgb(250, 0, 255) 0%, rgb(228, 0, 200) 15%, rgb(213, 0, 161) 30%, rgb(179, 0, 115) 50%, rgb(210, 30, 114) 70%, rgb(252, 69, 113) 85%, rgb(254, 118, 151) 100%);
  align-items: center;
  justify-content: space-between;
  border: 1px none none;
  border-radius: 10px;
  margin-top: 20px;
}
.izquierda button {
  margin: 0px 10px 10px 10px;
  background: rgba(255, 255, 255, 0.4117647059);
  border: 1px none white;
  border-radius: 50px;
  padding: 7px;
  width: 90px;
  height: 60px;
}
.izquierda img {
  width: 40px;
}
.izquierda p {
  color: white;
  font-size: 15px;
  font-family: "Kaisei Tokumin", serif;
}
.izquierda .boton3:hover {
  background-color: #111010;
}
.izquierda .boton3:hover p {
  color: #e50185;
  background: #111010;
  border: 1px solid none;
  border-radius: 50px;
}

.izquierda div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#derecha img {
  width: 200px;
  border-radius: 10px;
  margin-top: 10px;
  -webkit-animation-name: giro;
          animation-name: giro;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
#derecha .contenido {
  display: flex;
  justify-content: center;
  align-items: center;
}
#derecha .ficha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(48, 45, 45, 0.2588235294);
  border: 1px solid;
  border-color: rgb(250, 0, 255);
  border-radius: 50px 50px 0px 0px;
  margin: 30px 20px 20px 20px;
  padding: 5px;
  max-height: 400px;
  min-width: 280px;
  min-height: 366.55px;
  max-width: 324.06px;
  color: #d0ccd1;
}
#derecha .ficha p.views {
  font-size: 14px;
  color: #fe0ab7;
}
#derecha .ficha:hover {
  background-color: rgba(99, 97, 97, 0.2588235294);
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgba(99, 97, 97, 0.2588235294);
  border-radius: 40px;
  font-size: 12px;
}
footer .flecha {
  max-width: 35px;
}
footer .flecha:hover {
  background: rgba(255, 255, 255, 0.4509803922);
}
footer div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a {
  margin-top: 10px;
  color: #fe0ab7;
  text-decoration: none;
  padding: 5px;
}
footer a:visited {
  color: white;
}
footer a:hover {
  background-color: #111010;
  border: 1px solid none;
  border-radius: 50px;
  color: #fe0ab7;
}

@-webkit-keyframes giro {
  0% {
    border-radius: 25% 40% 70% 30%;
  }
  20% {
    border-radius: 40% 60% 20% 70%;
  }
  40% {
    border-radius: 90% 30% 60% 10%;
  }
  60% {
    border-radius: 10% 40% 60% 20%;
  }
  80% {
    border-radius: 30% 40% 10% 30%;
  }
  100% {
    border-radius: 25% 40% 70% 30%;
  }
}

@keyframes giro {
  0% {
    border-radius: 25% 40% 70% 30%;
  }
  20% {
    border-radius: 40% 60% 20% 70%;
  }
  40% {
    border-radius: 90% 30% 60% 10%;
  }
  60% {
    border-radius: 10% 40% 60% 20%;
  }
  80% {
    border-radius: 30% 40% 10% 30%;
  }
  100% {
    border-radius: 25% 40% 70% 30%;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #derecha {
    grid-templates-colum: 100%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .filas {
    grid-template-columns: 10% 90%;
  }
  .izquierda div {
    flex-direction: column;
  }
  .izquierda {
    flex-direction: column;
    height: 128vh;
    justify-content: space-evenly;
  }
}
#testbutton {
  width: 150px;
  height: 50px;
  border-radius: 180px;
  position: relative;
  left: calc(50% - 75px);
  top: calc(50% - 25px);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  cursor: pointer;
  line-height: 12px;
}

#testbutton:before {
  content: "";
  z-index: 1;
  position: absolute;
  display: block;
  width: 80%;
  height: 70%;
  top: 15%;
  left: 10%;
  transition: 0.3s opacity ease-in-out;
  filter: blur(15px);
  opacity: 0;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

#testbutton:hover:before {
  opacity: 1;
  transition: 0.3s opacity ease-in-out;
  filter: blur(25px);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

#testbutton:after {
  content: "続きを読む";
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color: rgb(235, 235, 235);
  font-weight: bold;
  z-index: 5;
  position: absolute;
  display: block;
  border-radius: 180px;
  width: 92%;
  height: 80%;
  top: 10%;
  left: 4%;
  background-color: rgb(19, 20, 22);
}

/* Extra large devices (large laptops and desktops, 1200px and up) *//*# sourceMappingURL=estilos.css.map */